<div class="service-card-main-container">
    <div class="linear-background"></div>
    <img class="image-style" [src]="image"/>
    <div class="title">{{ title }}</div>
    <!-- [routerLink] = "['miElemento', i]" -->
    <!--<bwl-basic-button [routerLink] = "[link]" [size]="'small'" [bgColor]="'blue'">Ver más<strong [style.paddingLeft.px]="25">+</strong></bwl-basic-button>-->
    <bwl-basic-button  [size]="'small'" [bgColor]="'blue'">Ver más<strong [style.paddingLeft.px]="25">+</strong></bwl-basic-button>
</div>